<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Baglanti" value="server=.\\SQLEXPRESS;Initial Catalog=LibraryApp;Integrated Security=True;TrustServerCertificate=True;"/>
	</appSettings>
	<connectionStrings>
		<add name="Context" connectionString="Server=.\SQLEXPRESS; Database=LibraryApp; Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>